# DEPENDENCIES
node_modules/
package-lock.json

# BUILD
dist/

# ENV FILES
.env*
.env.local

# MAC
._*
.DS_Store
Thumbs.db

# Emacs backup files
\#*
.\#*

# TYPESCRIPT
*.tsbuildinfo
.eslintcache

*.js
*.js.map
*.css
*.css.map